@CHARSET "UTF-8";
@IMPORT url("reset.css");
@IMPORT url("layout.css");

/* --------------common style----------------------------------------- */
.hidden{
	display: none;
}


/* --------------header style----------------------------------------- */

#header{
	
}
/* --------------visual style ---------------------------------------- */



/* --------------main style------------------------------------------- */



/* --------------footer style----------------------------------------- */



.clearfix {
  overflow: auto;
  zoom: 1;
}